/* Shipping Page CSS */
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .return-policy-container {
    width: 55%; /* Decrease the width of the container */
    background-color: transparent; /* Ensure a white background for the shipping content */
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 5px #cccccc;
    margin: 100px auto 50px; /* Center the container horizontally and add margin for spacing from top and bottom */
    text-align: center; /* Center the content inside the container */
}


.return-policy-heading::before,
.return-policy-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    background-color: red;
}

.return-policy-heading::before {
    left: 13.5%; /* Adjust the left position for the starting point of the vertical line */
    width: calc(25% - 50px); /* Adjust the width based on desired stopping point */
    transform: translateY(-50%);
}

.return-policy-heading::after {
    right: 13.5%; /* Adjust the right position for the starting point of the vertical line */
    width: calc(25% - 50px); /* Adjust the width based on desired stopping point */
    transform: translateY(-50%);
}

.return-policy-heading {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    display: block;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 1px;
    font-weight: 700;
}

.return-policy-content {
    text-align: center;
}

.return-policy-paragraph {
    display: block;
    line-height: 1.75;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 500;
}
